<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Control de Temperatura</title>
<link rel="stylesheet" href="control.css">
</head>
<body>

    <h1 style="text-align: center;">Pagina Principal</h1>
        <main>
            
                <div class="box-footer">
						<button class="btn btn-success">Usuario</button>
				</div>
				<br>
				 <div class="box-footer">
						<button class="btn btn-success">Ingreso Diario</button>
				</div>
				<br>
				 <div class="box-footer">
						<button class="btn btn-success">Gráficas</button>
				</div>                   
                
        </main>

</body>
</html>