<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Agregar registro</title>
 <meta name="viewport" content="initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link  href="https://fonts.googleapis.com/css2?family=Peralta&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="normalize.css">
<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body> 
	<header>
        <h3>
        <div class="logo"> 
          <img src="logo.png" alt="logo">
          <h2 class="compañia">Control test</h2>
        </div>
      </h3>
		<div id="header">
		  <ul class="nav">
		  	<li><a href="index.html">inicio</a>
          <ul>
            <li><a href="registro.html">registro</a> </li>
            <li><a href="area.html"> area </a></li>
            <li><a href="crear_area.html">crear area</a></li>
            <li><a href="usuarios.html"> usuario</a></li>
            <li><a href="crear_registro.html">Registro de parametros</a></li>
            <li><a href="crear_usuario.html"> crear usuarios</a></li>
          </ul>
        </li>
		  </ul>
    </header>	


	<div class="container">
	
		<div class="row">
			<h2>Agregar registro</h2>
		</div>
		
		<div class="row">
			<div class="col-lg-3">
			<a th:href="@{/registro/nuevo}" class="btn btn-success">Agregar registro</a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-3">
			<a th:href="@{/area}" class="btn btn-success">Administración de area</a>
			</div>
		</div>
		<br>		
		<div class="row">
			<div class="col-lg-3">
			<a th:href="@{/usuarios}" class="btn btn-success">Adinistración de usuarios</a>
			</div>
		</div>
		<br>
		<br>
		<table class="table">
  			<thead class="table-dark">
  				<tr>
  					<th>Area operativa</th>
  					<th>Cadena de frio</th>
  					<th>Encargado</th>
  					<th>Fecha</th>
  					<th>Humedad</th>
  					<th>Observación</th>
  					<th>Acciones</th>
  				</tr>
  			</thead>
 			<tbody>
 				<tr th:each="registro : ${registro}">
 					<td th:text = "${registro.areaOperativa}">Area Operativa</td> 
 					<td th:text = "${registro.cadenaFrio}">Cadena de frio</td>
  					<td th:text = "${registro.encargadoID}">Encargado</td>
  					<td th:text = "${registro.fecha}">Fecha</td> 
 					<td th:text = "${registro.humedad}">Humedad</td>
  					<td th:text = "${registro.observacion}">Observación</td>
  					<td>
  					<a th:href="@{/registro/editar/{id}(id=${registro.id})}" class="btn btn-primary">Editar</a>
  					<a th:href="@{/registro/{id}(id=${registro.id})}" class="btn btn-danger">Eliminar</a>
  					</td>
 				</tr>
  			</tbody>  			
		</table>
	
	</div>

<CENTER>
<h6> <footer>  Copyright-Todos los derechos reservados </footer> 
<p> siguenos en nuestras redes sociales </p> 
</h6>
  <h6> 
	 <img src="https://w7.pngwing.com/pngs/631/1001/png-transparent-computer-icons-facebook-social-media-email-share-icon-facebook-blue-text-trademark.png" width="42"> <a href="https://facebook.com" target="_BLANK">      facebook </a>
	  <img src="https://i.blogs.es/c04a74/instagram/1366_2000.jpg" width="42"> <a href="https://instagram.com" target="_BLANK">    instagram </a> 
	<img src="https://www.fcme.org/wp-content/uploads/Twitter-logo.jpg" width="42"><a href="https://twiter.com" target="_BLANK">        twiter </a>  
</CENTER>
</body>
</html>
