<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Crear usuarios</title>
</head>
<body>

	<div class="container">
	
		<div class="row">
			<h2>Lista de usuarios</h2>
		</div>
		
		<div class="row">
			<div class="col-lg-3">
			<a th:href="@{/usuarios/nuevo}" class="btn btn-success">Agregar usuario</a>
			</div>
		</div>
		<br>
		<table class="table">
  			<thead class="table-dark">
  				<tr>
  					<th>Area operativa</th>
  					<th>Cadena de frio</th>
  					<th>Encargado</th>
  					<th>Fecha</th>
  					<th>Humedad</th>
  					<th>Observación</th>
  					<th>Acciones</th>
  				</tr>
  			</thead>
 			<tbody>
 				<tr th:each="usuarios : ${usuarios}">
 					<td th:text = "${usuarios.areaOperativa}">Area Operativa</td> 
 					<td th:text = "${usuarios.cadenaFrio}">Cadena de frio</td>
  					<td th:text = "${usuarios.encargadoID}">Encargado</td>
  					<td th:text = "${usuarios.fecha}">Fecha</td> 
 					<td th:text = "${usuarios.humedad}">Humedad</td>
  					<td th:text = "${usuarios.observacion}">Observación</td>
  					<td>
  					<a th:href="@{/usuarios/editar/{id}(id=${usuarios.id})}" class="btn btn-primary">Editar</a>
  					<a th:href="@{/usuarios/{id}(id=${usuarios.id})}" class="btn btn-danger">Eliminar</a>
  					</td>
 				</tr>
  			</tbody>  			
		</table>
	
	</div>


</body>
</html>