<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Crear usuarios</title>
</head>
<body>

	<div class="container">
	
		<div class="row">
			<h2>Lista de usuarios</h2>
		</div>
		<table class="table">
  			<thead class="table-dark">
  				<tr>
  					<th>Area operativa</th>
  					<th>Encargado</th>
  					<th>Area</th>
  				</tr>
  			</thead>
 			<tbody>
 				<tr th:each="usuarios : ${usuarios}">
 					<td th:text = "${usuarios.fecha}">Fecha</td> 
 					<td th:text = "${usuarios.observacion}">Encargado</td>
  					<td th:text = "${usuarios.temperatura}">Temperatura</td>
 				</tr>

  			</tbody>
		</table>
	
	</div>


</body>
</html>